:root {
    --body-bg: #fff;
    --body-color: #333;
    --card-bg: #fff;
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --content-bg: #f2f3f5;
    --header-bg: #fff;
    --header-text: #333;
    --header-title-color: #ff552e;
    --header-border: #e5e7eb;
    --sidebar-bg: #fff;
    --sidebar-text: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.el-table .cell {
    padding: 0 !important;
}
body {
    margin: 0;
    padding: 0;
    color: var(--body-color);
    }
a {
    text-decoration: none;
}
.card {
    z-index: 1;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--card-shadow);
}
.cardTable {
    z-index: 1;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 0 5px 10px 10px;
    box-shadow: var(--card-shadow);
}

.mini-firework {
    overflow: hidden;
    border-radius: 50%;
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 70%);
}

.el-backtop {
    z-index: 3001 !important;
}

.site-version {
    z-index: 3002 !important;
}

/* 新年限定烟花 */
.mini-firework {
    overflow: hidden;
    border-radius: 50%;
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 70%);
}
